<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
   <Fragment Id="VS14_Schemas">
      <PropertyRef Id="VS14_SCHEMAS_DIR"/>
      <DirectoryRef Id="TARGETDIR">
         <!-- we need the TARGETDIR root, but immediately redirect to VS14_SCHEMAS_DIR -->
         <Directory Id="VS14_SCHEMAS_DIR" Name="[VS14_SCHEMAS_DIR]">
            <!-- because we are not in ProgramFilesFolder, must specify a real guid instead of "*" -->
            <Component Id="VS14_NuSpec_xsd" Guid="F4032E6B-65F1-48AC-BBE5-22B0D520914A">
               <File Id="VS14_NuSpec_xsd" Source="..\VS\Config\NuSpec.xsd" KeyPath="yes"/>
            </Component>
         </Directory>
      </DirectoryRef>
      <!-- group the components, in case there will be multiple components in the future -->
      <ComponentGroup Id="VS14_Schemas">
         <ComponentRef Id="VS14_NuSpec_xsd"/>
      </ComponentGroup>
   </Fragment>
</Wix>
