<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
   <Fragment Id="VS14_Extensions">
      <PropertyRef Id="VS14_EXTENSIONS_DIR"/>
      <DirectoryRef Id="TARGETDIR">
         <!-- we need the TARGETDIR root, but immediately redirect to VS14_EXTENSIONS_DIR -->
         <Directory Id="VS14_EXTENSIONS_DIR" Name="[VS14_EXTENSIONS_DIR]">
            <Directory Id="VS14ExtNuBuildFolder" Name="NuBuild">
               <!-- just to be similar to MSBuild v1 folder structure -->
               <!-- because we are not in ProgramFilesFolder, must specify a real guid instead of "*" -->
               <!--<Directory Id="VS14ExtNuBuildV1Folder" Name="v1">
                  <Component Id="VS14_NuBuild_VS_Package_v1_dll" Guid="{61741CCD-E78A-4414-8BF6-2909164B34E5}">
                     <File Id="VS14_NuBuild_VS_Package_v1_dll" Source="..\Bin\v1\VSIX\NuBuild.VS.Package.v1.dll" KeyPath="yes"/>
                  </Component>
                  <Component Id="VS14_NuBuild_Core_v1_dll" Guid="{BE1F4749-5775-4509-9B9A-39A9AF833F12}">
                     <File Id="VS14_NuBuild_Core_v1_dll" Source="..\Bin\VSIX\NuBuild.Core.dll" KeyPath="yes"/>
                  </Component>
                  <Component Id="VS14_NuBuild_VS_Package_v1_pkgdef" Guid="{E01DC618-3BE4-46EE-8022-DF34E2C1ECE4}">
                     <File Id="VS14_NuBuild_VS_Package_v1_pkgdef" Source="..\Bin\v1\VSIX\NuBuild.VS.Package.v1.pkgdef" KeyPath="yes"/>
                  </Component>
                  <Component Id="VS14_Extension_v1_vsixmanifest" Guid="{F5551DC5-C37A-456A-9752-32777E88CCFC}">
                     <File Id="VS14_Extension_v1_vsixmanifest" Source="..\Bin\v1\VSIX\extension.vsixmanifest" KeyPath="yes"/>
                  </Component>
                  <Directory Id="VS14ExtNuBuildV1ResourcesFolder" Name="Resources">
                     <Component Id="VS14_license_v1_txt" Guid="{DA91E6FB-5D00-46E8-9ABB-95D5FB3047CC}">
                        <File Id="VS14_license_v1_txt" Source="..\Bin\VSIX\Resources\license.txt" KeyPath="yes"/>
                     </Component>
                     <Component Id="VS14_NuBuild_v1_png" Guid="{70690210-626E-4BE5-AB1C-80843A8E0B07}">
                        <File Id="VS14_NuBuild_v1_png" Source="..\Bin\VSIX\Resources\nubuild.png" KeyPath="yes"/>
                     </Component>
                  </Directory>
                  <Directory Id="VS14ExtNuBuildV1ProjectTemplatesFolder" Name="ProjectTemplates">
                     <Component Id="VS14_NuProj_v1_zip" Guid="{B5C72E89-8130-4551-98C6-05DD020F238B}">
                        <File Id="VS14_NuProj_v1_zip" Source="..\Bin\v1\VSIX\ProjectTemplates\NuProj.zip" KeyPath="yes"/>
                     </Component>
                  </Directory>
                  <Directory Id="VS14ExtNuBuildV1ItemTemplatesFolder" Name="ItemTemplates">
                     <Component Id="VS14_NuSpec_v1_zip" Guid="{C53EA7BA-5F12-47BA-A510-9AD793841C58}">
                        <File Id="VS14_NuSpec_v1_zip" Source="..\Bin\v1\VSIX\ItemTemplates\NuSpec.zip" KeyPath="yes"/>
                     </Component>
                  </Directory>
               </Directory>-->
               <Directory Id="VS14ExtNuBuildV2Folder" Name="v2">
                  <Component Id="VS14_Microsoft_Web_XmlTransform_dll" Guid="135EB0B3-A15C-46D0-8D42-A3148DA6207E">
                     <File Id="VS14_Microsoft_Web_XmlTransform_dll" Source="..\Bin\VSIX\Microsoft.Web.XmlTransform.dll" KeyPath="yes"/>
                  </Component>
                  <Component Id="VS14_NuGet_Core_dll" Guid="4D9C7F94-4718-444C-94EF-7CAB1C6FECE0">
                     <File Id="VS14_NuGet_Core_dll" Source="..\Bin\VSIX\NuGet.Core.dll" KeyPath="yes"/>
                  </Component>
                  <Component Id="VS14_NuBuild_Core_dll" Guid="1B54B123-36E8-44FE-B1FB-91E4D7DD4221">
                     <File Id="VS14_NuBuild_Core_dll" Source="..\Bin\VSIX\NuBuild.Core.dll" KeyPath="yes"/>
                  </Component>
                  <Component Id="VS14_NuBuild_VS_Package_dll" Guid="D9C14809-BE99-4610-ADBA-7B58D4CFA39C">
                     <File Id="VS14_NuBuild_VS_Package_dll" Source="..\Bin\VSIX\NuBuild.VS.Package.dll" KeyPath="yes"/>
                  </Component>
                  <Component Id="VS14_NuBuild_VS_Package_pkgdef" Guid="929FEE1A-2D62-4A99-978D-1B4B6CB16FE8">
                     <File Id="VS14_NuBuild_VS_Package_pkgdef" Source="..\Bin\VSIX\NuBuild.VS.Package.pkgdef" KeyPath="yes"/>
                  </Component>
                  <Component Id="VS14_Extension_vsixmanifest" Guid="0C2CE35A-2CF0-487B-9E7A-E68A39D2D34C">
                     <File Id="VS14_Extension_vsixmanifest" Source="..\Bin\VSIX\extension.vsixmanifest" KeyPath="yes"/>
                  </Component>
                  <Directory Id="VS14ExtNuBuildV2ResourcesFolder" Name="Resources">
                     <Component Id="VS14_license_txt" Guid="1BF138D7-25AF-481D-82C2-613D990E6B3B">
                        <File Id="VS14_license_txt" Source="..\Bin\VSIX\Resources\license.txt" KeyPath="yes"/>
                     </Component>
                     <Component Id="VS14_NuBuild_png" Guid="5E947717-663E-4F6A-9DB4-A6B008D253A7">
                        <File Id="VS14_NuBuild_png" Source="..\Bin\VSIX\Resources\NuBuild.png" KeyPath="yes"/>
                     </Component>
                  </Directory>
                  <Directory Id="VS14ExtNuBuildV2ProjectTemplatesFolder" Name="ProjectTemplates">
                     <Component Id="VS14_NuProj_zip" Guid="11042EDF-62C2-44F0-B022-6EEA3B3B1D7D">
                        <File Id="VS14_NuProj_zip" Source="..\Bin\VSIX\ProjectTemplates\NuProj.zip" KeyPath="yes"/>
                     </Component>
                  </Directory>
                  <Directory Id="VS14ExtNuBuildV2ItemTemplatesFolder" Name="ItemTemplates">
                     <Component Id="VS14_NuSpec_zip" Guid="BA103BF7-3626-4C30-A21B-4683D546685A">
                        <File Id="VS14_NuSpec_zip" Source="..\Bin\VSIX\ItemTemplates\NuSpec.zip" KeyPath="yes"/>
                     </Component>
                  </Directory>
               </Directory>
            </Directory>
         </Directory>
      </DirectoryRef>
      <!-- group the components -->
      <ComponentGroup Id="VS14_Extensions">
         <!--<ComponentRef Id="VS14_NuBuild_Core_v1_dll"/>
         <ComponentRef Id="VS14_NuBuild_VS_Package_v1_dll"/>
         <ComponentRef Id="VS14_NuBuild_VS_Package_v1_pkgdef"/>
         <ComponentRef Id="VS14_Extension_v1_vsixmanifest"/>
         <ComponentRef Id="VS14_license_v1_txt"/>
         <ComponentRef Id="VS14_NuBuild_v1_png"/>
         <ComponentRef Id="VS14_NuProj_v1_zip"/>
         <ComponentRef Id="VS14_NuSpec_v1_zip"/>-->
         <ComponentRef Id="VS14_Microsoft_Web_XmlTransform_dll"/>
         <ComponentRef Id="VS14_NuGet_Core_dll"/>
         <ComponentRef Id="VS14_NuBuild_Core_dll"/>
         <ComponentRef Id="VS14_NuBuild_VS_Package_dll"/>
         <ComponentRef Id="VS14_NuBuild_VS_Package_pkgdef"/>
         <ComponentRef Id="VS14_Extension_vsixmanifest"/>
         <ComponentRef Id="VS14_license_txt"/>
         <ComponentRef Id="VS14_NuBuild_png"/>
         <ComponentRef Id="VS14_NuProj_zip"/>
         <ComponentRef Id="VS14_NuSpec_zip"/>
      </ComponentGroup>
      <!-- VS14_INSTALL_DIR is not a predefined value like VS14_SCHEMAS_DIR -->
      <Property Id="VS14_INSTALL_DIR">
         <RegistrySearch
            Id="VS14InstallRegistry"
            Root="HKLM"
            Key="SOFTWARE\Microsoft\VisualStudio\14.0"
            Name="InstallDir"
            Type="directory" />
      </Property>
      <!-- Execute action at the end of the installation -->
      <!-- after installation, instead of /setup use the undocumented /updateconfiguration
           this is faster, only touches the extensions.configurationchanged file in the Extensions folder -->
      <CustomAction Id="ExecuteVS14Updateconfiguration"
         Directory="VS14_EXTENSIONS_DIR"
         Return="asyncWait"
         Execute="deferred"
         Impersonate="no"
         ExeCommand="[VS14DEVENV] /updateconfiguration"/>
      <InstallExecuteSequence>
         <Custom Action="ExecuteVS14Updateconfiguration" Before="InstallFinalize">
            <!-- Run action only if the feature will be installed locally. Do not run action on a reinstallation. -->
            <![CDATA[VS14_INSTALL_DIR AND VS14_SCHEMAS_DIR AND (&VS14 = 3) AND NOT (!VS14 = 3)]]>
         </Custom>
      </InstallExecuteSequence>
   </Fragment>
</Wix>
