<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
   <Fragment Id="VS2010_Schemas">
      <PropertyRef Id="VS2010_SCHEMAS_DIR"/>
      <DirectoryRef Id="TARGETDIR">
         <!-- we need the TARGETDIR root, but immediately redirect to VS2010_SCHEMAS_DIR -->
         <Directory Id="VS2010_SCHEMAS_DIR" Name="[VS2010_SCHEMAS_DIR]">
            <!-- because we are not in ProgramFilesFolder, must specify a real guid instead of "*" -->
            <Component Id="VS2010_NuSpec_xsd" Guid="B6F0FD94-909A-490B-B5A8-0AB0EF060030">
               <File Id="VS2010_NuSpec_xsd" Source="..\VS\Config\NuSpec.xsd" KeyPath="yes"/>
            </Component>
         </Directory>
      </DirectoryRef>
      <!-- group the components, in case there will be multiple components in the future -->
      <ComponentGroup Id="VS2010_Schemas">
         <ComponentRef Id="VS2010_NuSpec_xsd"/>
      </ComponentGroup>
   </Fragment>
</Wix>
