<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
   <Fragment Id="VS2012_Schemas">
      <PropertyRef Id="VS2012_SCHEMAS_DIR"/>
      <DirectoryRef Id="TARGETDIR">
         <!-- we need the TARGETDIR root, but immediately redirect to VS2012_SCHEMAS_DIR -->
         <Directory Id="VS2012_SCHEMAS_DIR" Name="[VS2012_SCHEMAS_DIR]">
            <!-- because we are not in ProgramFilesFolder, must specify a real guid instead of "*" -->
            <Component Id="VS2012_NuSpec_xsd" Guid="32BB0019-E700-45C2-83ED-E4ECF848F9EF">
               <File Id="VS2012_NuSpec_xsd" Source="..\VS\Config\NuSpec.xsd" KeyPath="yes"/>
            </Component>
         </Directory>
      </DirectoryRef>
      <!-- group the components, in case there will be multiple components in the future -->
      <ComponentGroup Id="VS2012_Schemas">
         <ComponentRef Id="VS2012_NuSpec_xsd"/>
      </ComponentGroup>
      <!-- reference this feature from Product -->
      <Feature Id="VS2012_Schemas" Level="1"
               Title="VS 2012 IntelliSense Support"
               Description="Integrates NuBuild schema files into Visual Studio 2012 IntelliSense."
               AllowAdvertise="no" >
         <!-- turn it off, if there is no VS2012_SCHEMAS_DIR specified -->
         <Condition Level="0">NOT VS2012_SCHEMAS_DIR</Condition>
         <ComponentGroupRef Id="VS2012_Schemas"/>
      </Feature>
   </Fragment>
</Wix>
