<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:VSExtension="http://schemas.microsoft.com/wix/VSExtension">
   <?include Variables.wxi?>
   <!-- never change UpgradeCode, continuously changing Id ("*") and changing Version means "major upgrade"
        "major upgrade" means uninstall previous version and install new version -->
   <Product Id="*"
      Version="$(var.ProductVersion)"
      UpgradeCode="1948F590-CD4C-4279-9466-5A172FEA8FCE"
      Name="$(var.ProductName)"
      Manufacturer="$(var.ProductManufacturer)"
      Language="1033">
      <Package
         Description="$(var.ProductDescription)"
         Compressed="yes"
         InstallScope="perMachine"
         InstallPrivileges="elevated"/>
      <MajorUpgrade
         AllowSameVersionUpgrades="yes"
         DowngradeErrorMessage="Downgrading is not supported."/>
      <MediaTemplate EmbedCab="yes"/>
      <Icon Id="NuBuild.ico" SourceFile="..\NuBuild.ico"/>
      <Property Id="ARPPRODUCTICON" Value="NuBuild.ico" />
      <!-- set to the MSBuild Binaries install folder-->
      <SetProperty Id="ARPINSTALLLOCATION"
         Value="[INSTALLFOLDER]"
         After="CostFinalize"/>

      <!-- mandatory root -->
      <Directory Id="TARGETDIR" Name="SourceDir"/>

      <!-- select all the features from the fragments -->
      <FeatureRef Id="VS2010_Extensions"/>
      <FeatureRef Id="VS2012_Extensions"/>
      <FeatureRef Id="VS2013_Extensions"/>
      <FeatureRef Id="VS14_Extensions"/>
      <FeatureRef Id="MSBuild_Binaries"/>
      <FeatureRef Id="VS2010_Schemas"/>
      <FeatureRef Id="VS2012_Schemas"/>
      <FeatureRef Id="VS2013_Schemas"/>
      <FeatureRef Id="VS14_Schemas"/>

      <!-- confirmation message at the end -->
      <CustomAction Id="ConfirmationMessage" Script="vbscript">
         <!-- vbInformation = 64 -->
         <![CDATA[MsgBox "Successfully installed!", 64, "$(var.ProductName)"]]>
      </CustomAction>      
      <InstallUISequence>
         <Custom Action="ConfirmationMessage" OnExit="success" />
      </InstallUISequence>
   </Product>
   
   <!-- from v1.x, to be used later in a dual version -->
   <!--<Fragment Id="Nuproj_Extension_Registry">
      <Feature Id="Nuproj_Extension_Registry">
         <Component Id="NuBuild_Reg_nuproj" Guid="*" Directory="MSBuildNuBuildV1Folder">
            <RegistryKey Root="HKCR" Key=".nuproj">
               <RegistryValue Type="string" Value="NuBuild.NuProj"/>
            </RegistryKey>
            <RegistryKey Root="HKCR" Key="NuBuild.NuProj">
               <RegistryValue Type="string" Value="NuBuild project file"/>
               <RegistryKey Key="DefaultIcon">
                  <RegistryValue Type="string" Value="[MSBuildNuBuildV1Folder]NuBuild.Core.dll"/>
               </RegistryKey>
               <RegistryKey Key="shell">
                  <RegistryKey Key="Open">
                     <RegistryKey Key="Command">
                        <RegistryValue Type="string" Value='[ProgramFilesFolder]Common Files\Microsoft Shared\MSEnv\VSLauncher.exe "%1"'/>
                     </RegistryKey>
                  </RegistryKey>
               </RegistryKey>
            </RegistryKey>
         </Component>
      </Feature>
   </Fragment>-->
</Wix>
